@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;400&display=swap');

:root{
    --bg-color:#343F4F;
    --text-color1: #fff;
    --text-color2: #edc7c7;
    --label-bg:#FC6D6D;
}


*{
    padding: 0;
    margin: 0;
    /* outline: greenyellow 3px solid; */


}
body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #f8f9fa; */
    background-color: var(--bg-color);
    color: var(--text-color1);
    font-weight: bold; 
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
 
 
}
.navbar-brand{
    color: var(--label-bg);
    font-size: 30px;
    font-weight: 900;
    font-family:cursive;
    
}
.navbar-brand span{
    color: var(--text-color1);
}
.navbar-brand:hover{
    color: var(--text-color2);
   
}
label{
    font-weight: bold;
    background: var(--label-bg);
    text-align: center;
    color: var(--text-color1);
}
label.opt{
    padding: 0.3rem;
    border-radius: 5px;
 
}


main.main-container{
    flex: 1;
    max-width: 800px;
   
}

.heading{
    color: orange;
}
#quadratic{
    color: #edc7c7;
}
.results{
    font-size: 1.5rem;
    background-color: var(--text-color1);
    color: var(--bg-color);
    padding: 4px;
    margin-top: 5px;
    border-radius: 5px;
}

.results b{
    color: var(--label-bg);
    font-size: 2rem;
    text-decoration: dotted 2px var(--bg-color);
}



footer.footer {
    /* background-color: #343a40; */
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}


.form-group {
    margin-bottom: 1.5rem;
}
.btn{
    font-weight: 900;
}
.btn-success {
    background-color: orange;
    font-weight: 900;
    border-color: var(--label-bg);
}

.btn-success:hover {
    background-color: orangered;
    /* border-color: #109128;; */
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control{
    margin-left: -3px;

}



input[type="radio"]{
    display: inline;
    accent-color: orangered ;
    padding: 30px;
}

.form-control:focus{
    /* box-shadow: 2px #109128;
    outline: none; */
    /* box-shadow: 0 0 0 0.2rem rgba(68, 168, 37, 0.25); */
    box-shadow: none;
    border: 2px solid var(--label-bg);
    border-left: none;
    

}


.breakdown{
    width: 100%;
    color: var(--bg-color);
    font-size: 1.2rem;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic; 
    line-height: 2rem;
   
    /* background-color: #f2f0f0; */
    /* background-color: #c0e8bf; */
    background-color: var(--text-color1);
    padding: 1.2rem; 
    border-radius: 5px;
}

/* FOMULAES */
.formula-wrapper{
    display: inline-flex; gap: 5px;
}

.fraction{
    display: flex; flex-direction: column; text-align: center;
}

.nominator {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  line-height: 15px;

}

/* INDEX */
.index-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;

}
.intro{
    font-size: 3rem;
}
.intro .auto-type{
    color: #f84646;
}
.index-btns{
    display: flex;

    
}
.index-btns .btn{
    
    border-color: white;
    color: white;
    margin-right: 0.8rem;
    background-color: #f84646;
    margin-top: 0.5rem;

}
.index-btns .btn:hover{
    color: #f84646;
    background-color: white;
    border-color: #f84646;
}

@media screen and (max-width:710px) {
    .intro{
        font-size: 2.5rem;
     
    }
    
}

@media screen and (max-width:650px) {
    .intro{
        font-size: 1.5rem;
     
    }

    .index-btns{
        margin-top:1rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        
        
    }

    .index-btns .btn{
        width: 100%;
    }
    
}

@media screen and (min-width:650px) {
    .index-btns .btn{
        min-height: 3.7em;
    }

}