{% extends 'sec/sec_base.html' %} {% block title %} DDA Line generation {%endblock %} 

{% block content %}

<h2>Digital Differential Algorithm</h2>
  <form id="" method="post">
    {% csrf_token %}
    <div class="group d-flex gap-3">
      <div class="form-group d-flex col-md-6">
        <label for="x0" class="col-2">x0:</label>
        <input
          type="number"
          min="0"
          step="0.0000000001"
          class="form-control"
          id="x0"
          value="{{data.x0}}"
          name="x0"
          placeholder="enter x0 coordinate"
          required
        />
      </div>
      <div class="form-group d-flex col-md-6">
        <label for="y0" class="col-2">y0:</label>
        <input
          type="number"
          min="0"
          step="0.00000001"
          class="form-control"
          id="y0"
          placeholder="enter y0 coordinate"
          value="{{data.y0}}"
          name="y0"
          required
        />
      </div>
    </div>

    <div class="group d-flex gap-3">
      <div class="form-group d-flex col-md-6">
        <label for="x1" class="col-2">x1:</label>
        <input
          type="number"
          min="0"
          step="0.0000000001"
          class="form-control"
          id="x1"
          value="{{data.x1}}"
          name="x1"
          placeholder="enter x1 coordinate"
          required
        />
      </div>
      <div class="form-group d-flex col-md-6">
        <label for="y1" class="col-2">y1:</label>
        <input
          type="number"
          min="0"
          step="0.00000001"
          class="form-control"
          id="y1"
          placeholder="enter y1 coordinate"
          value="{{data.y1}}"
          name="y1"
          required
        />
      </div>
    </div>

    <button type="submit" class="btn btn-success">Calculate</button>
    <a href="{% url 'dda' %}">
      <input type="button" value="Refresh" class="btn btn-danger" />
    </a>

    <a href="{% url 'index' %}">
      <input type="button" value="Back" class="btn btn-secondary" />
    </a>
  </form>
</div>

{% if data %}
<h2 class="mt-5 mb-2">Result</h2>
<div class="d-md-flex gap-3">
    
    <div class="inputs-table col-md-4">
       <h4 class="text-center">Table</h4>
      <table
        class="table table-striped table-hover table-bordered table-responsive"
      >
      
        <thead class="table-dark">
          <tr class="p-2">
            <th scope="col">s/n</th>
            <th scope="col">plot(x,y)</th>
            <th scope="col">x</th>
            <th scope="col">y</th>
          </tr>
        </thead>
  
        <tbody>
          {% for c in cord %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>({{c.x}}, {{c.y}})</td>
            <td>{{c.x_inc}}</td>
            <td>{{c.y_inc}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
    {% if image_base64 %}
    
    <div class="graph col-md-8">
        <h4 class="text-center">Graph</h4>
        <div class="center-content">
          <img
            src="data:image/png;base64,{{ image_base64 }}"
            alt="Plot"
            style="width: 98%;"
          />
        </div>
      </div>
    {% endif %}

    </div>

{% endif %}

{% endblock content %}
