{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'uni/images/mathedu-logo.png' %}" type="image/x-icon">
    <meta property="og:type"          content="website" />
    <meta property="og:title" content="MathEdu">
    <meta property="og:description" content="Efficiently solve Math problems with ease.">
    <meta property="og:image" content="http://mathedu.pythonanywhere.com/uni/static/images/mathedu-logo.png">


    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'sec/css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js" integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  </head>

  <body>
    
{% include "sec/partials/header.html" %}

   
    <main class="container main-container">
      {% include 'sec/partials/messages.html' %}
        {% block content %}
        {% endblock content%}
    </main>

 
      <script>
        var typed = new Typed(".auto-type", {
          strings:["Simple Interest.", "Compound Interest.",
          "Quadratic Equations.", "DD Agorithms.",
          "Transcedental Equations.", "In few seconds."],
          typeSpeed: 100,
          backSpeed: 80,
          loop: true 
        })
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    {% include 'sec/partials/footer.html' %}
  </body>
</html>