{% extends 'sec/sec_base.html' %}

{% block title %} Simple Interest {% endblock %}

{% block content %}


    <main class="container">
        {% include 'sec/partials/messages.html' %}
        <section>
            <h1 class="mt-5 mb-4  heading">Simple Interest</h1>
            <!-- Input Form -->
            <form id="interestForm" method="post">
                {% csrf_token %}
                <div class="form-group d-flex">
                    <label for="principal" class="col-3">Principal Amount:</label>
                    <input type="number" min="0" step="0.0000000001" class="form-control" id="principal" value="{{data.principal}}" name="principal" placeholder="Enter principal amount" required>
                </div>
                <div class="form-group d-flex">
                    <label for="rate" class="col-3">Interest Rate (%):</label>
                    <input type="number" min="0" step="0.00000001" class="form-control" id="rate" placeholder="Enter interest rate" value="{{data.rate}}" name="rate" required>
                </div>
                <div class="form-group d-flex">
                    <label for="time" class="col-3">Time (years):</label>
                    <input type="number" step="0.0000001" min="0" class="form-control" id="time" placeholder="Enter time" value="{{data.time}}" name="time" required>
                </div>
                <div class="form-group">
                    <label for="si" class="opt" hidden>Simple Interest:</label>
                    <input type="radio" value="simple_interest" name="choice" id="si" checked hidden>

                    <label for="ci" class="opt" hidden >Compound Interest:</label>
                    <input type="radio" value="compound_interest" name="choice" id="ci" hidden>
                </div>
                <button type="submit" class="btn btn-success">Calculate</button>
                <a href="{% url 'simple_interest' %}">
                    <input type="button" value="Refresh" class="btn btn-danger">
                    </a>

                    <a href="{% url 'index' %}">
                        <input type="button" value="Back" class="btn btn-secondary">
                        </a>
            </form>
            
            <!-- Result Display -->
            {% if s_interest %}
        
            <div class="my-4 results  ">Simple Interest is <b>{{s_interest}}</b></div>
            <!-- break down -->
            <div class="breakdown">
                <h3 style="text-decoration:underline;">Break down</h3>
             
                Principal(P) = {{data.principal}}<br />
                Rate(R) = {{data.rate}}<br />
                Time(T) = {{data.time}}<br />
                <p>
                    
                    <div class="formula-wrapper">
                        Simple Interest (SI) = <div class="fraction">
                            <span class="nominator">P*R*T</span>
                            <div class="denominator">100</div>
                        </div>
                    </div>
                    <br>

                    <div class="formula-wrapper">
                        SI = <div class="fraction">
                            <span class="nominator">{{data.principal}} * {{data.rate}} * {{data.time}}</span>
                            <div class="denominator">100</div>
                        </div>
                    </div>
                    <br>

                    <div class="formula-wrapper">
                        SI = <div class="fraction">
                            <span class="nominator"> {{i_tot}}</span>
                            <div class="denominator">100</div>
                        </div>
                        = {{s_interest}}
                    </div>
                    <br>

                    
                    
                   
                    therefore; The Simple Interest is <b>{{s_interest}}</b>
                </p>
            </div>

            {% elif comp_interest %}
            <div id="result" class="my-4 results">Compound Interest is <b>{{comp_interest}}</b></div>
            <!-- breakdown -->

            <div class="breakdown">
                <h3 style="text-decoration:underline;">Break down</h3>
             
                Principal(P) = {{data.principal}}<br />
                Rate(R) = {{data.rate}}<br />
                Time(n) = {{data.time}}<br />
                <p> <br>
                    Compound Interest (CI) = Amount (A) - Principal (P) <br>
                    Amount (A) = P * (1 + ( <sup>R</sup>/<sub>100</sub> )) <sup> n </sup> <br>
                    So, A = {{data.principal}}(1 + ( <sup>{{data.rate}}</sup>/<sub>100</sub> ))<sup>{{data.time}}</sup>
                    <br>
                    A = {{data.principal}} * (1 + <sup>{{data.rate}}</sup>/<sub>100</sub> )<sup>{{data.time}}</sup> <br>
                    &nbsp; &nbsp; = {{data.principal}} * (1 + {{compound_rate}})<sup>{{data.time}}</sup> <br>
                    &nbsp; &nbsp; = {{data.principal}} * ({{compound_rate_add}})<sup>{{data.time}}</sup> <br>
                    &nbsp; &nbsp; = {{data.principal}} * {{compound_rate_exp}} <br>
                    therefore; A = {{amount}} <br> <br>
                    So, CI = Amount (A) - Principal (P) <br>
                    &nbsp; &nbsp; = {{amount}} - {{data.principal}} <br>
                    &nbsp; &nbsp; = {{comp_interest}}

                    <!-- SI = {{i_tot}} / 100 = {{s_interest}} <br> -->
                    <br>
                    therefore; The Compound Interest is <b>{{comp_interest}}</b>
                </p>
            </div>
            {% endif %}
        </section>
    </main>


{% endblock %}
