{% load static %}
    <form action="" method="post" novalidate>
        {% csrf_token %}

        <div class="field-row">
            <div class="mb-3">
                <label class="form-label" for="interval1">Interval a</label>
                <input type="number" step="0.001" class="form-control {% if interval1_err %} error-outline {% endif %}" name="interval1" id="interval1" required placeholder="0" value="{{data.interval1}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="interval2">Interval b</label>
                <input type="number" step="0.001" class="form-control {% if interval2_err %} error-outline {% endif %}" name="interval2" id="interval2" required placeholder="3.2" value="{{data.interval2}}">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="equation">Equation</label>
            <input type="text" name="equation" id="equation" class="form-control {% if eqn_err %} error-outline {% endif %}" required placeholder="x^3 - 4x - 8.95"
                   value="{% if data.equation %}{{data.equation}}{% else %}x^3 - 4x - 8.95{% endif %}">
        </div>

        <div class="mb-3">
            <label class="form-label" for="tolerance">Tolerance</label>
            <input type="number" step="0.0000000001" min="0.000001" class="form-control {% if tol_error %} error-outline {% endif %}" name="tolerance" id="tolerance" required placeholder="0.000012" value="{{data.tolerance}}">
        </div>

        <fieldset class="radios">
            <legend>Select root finding method</legend>
            <div class="radio-option">
                <input type="radio" id="bisection" name="root_method" value="bisection" required>
                <label for="bisection">Bisection</label>
            </div>
            <div class="radio-option">
                <input type="radio" id="successive_approximation" name="root_method" value="successive_approximation" required>
                <label for="successive_approximation">Successive Approximation</label>
            </div>
            <div class="radio-option">
                <input type="radio" id="newton_raphson" name="root_method" value="newton_raphson" required>
                <label for="newton_raphson">Newton Raphson</label>
            </div>
        </fieldset>

        <div class="btn-group-actions">
            <a class="btn btn-outline" href="{% url 'trans_eqn' %}">Reset</a>
            <button type="submit" class="btn btn-primary">Compute</button>
        </div>
    </form>