<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="" >
<footer class="footer mt-5">
    <hr>
    <div class="container">
        Made with <i class="ri-heart-3-fill" style="color: limegreen;"></i>
        by Johnpaul &copy; 2024 - <span style=" background-color: green; font-weight: bold;">3MTT</span> showcase</a>
        </p>
        <!-- <span>© 2024 MathEdu. All rights reserved.</span> -->
    

        <!-- <span>© 2024 LmB Math Hub. All rights reserved.</span> -->
    </div>
</footer>
