

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;400&display=swap');

  :root{
    --bg-color:#343F4F;
    --text-color1: #fff;
    --text-color2: #edc7c7;
    --label-bg:#FC6D6D;
    --input-bg: #525a66;
    --result-bg: #fff;
}


*{
    margin: 0px;
    /* outline: rgb(97, 211, 97) 1px solid; */
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    

        
}
body{
    background-color: var(--bg-color)
}

a{
    text-decoration: none;
}



/* #################   SECTIONS         ########################################### */

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 1.1rem;
    
}
.container{
    flex: 1;
    width: 80%;
    margin: auto;
    display: flex;
    /* background-color: aqua; */


}

.inputs{
    flex-shrink: 0;
    width: 50%;
    /* background-color: aliceblue; */
    background-color: var(--input-bg);
    color: var(--text-color1);

}
label{
    margin-bottom: 0.3em;
}
.results{
    display: block;
    flex-shrink: 0;
    width: 50%;
    /* background-color: antiquewhite;  */
    background-color: var(--result-bg);
}

.results-mobile{
    display: none;
}

.other-results-container{
    max-width:100%; overflow-x: scroll; padding-bottom: 30px;
    
}

.center-content{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
     
}
header{
   
    color: rgb(255, 255, 255);
}
footer a{
    color: rgb(255, 255, 255);
}
footer{
    /* font-family: 'Roboto', sans-serif; */
    margin: auto;
    margin-top: 1em;
    font-size: 1rem;
    color: rgb(255, 255, 255);

}
footer p{
    margin-left: 1.2rem;
}
footer .social-icons{
    margin-right: 1.2rem;
    font-size: 1.2rem;
}

.ri-twitter-x-fill{
    color: black;
    border-radius: 100px;
    /* padding: 1.5px; */
}
.ri-twitter-x-fill:hover{
    opacity: 0.7;
}
.ri-facebook-fill{
    color: white;
    border-radius: 50px;
    padding: 1.5px;
    background-color: #3226dc;
   
}
.ri-facebook-fill:hover{
    opacity: 0.7;

}

.ri-github-fill{
    color: black;
    border-radius: 50px;
    background-color: white;
    padding: 1.5px;
}
.ri-github-fill:hover{
   opacity: 0.7;
}


header, footer{
    text-align: center;
    width: 100%;
    /* background-color: orange; */
    /* background-color: #c9912a; */
    background-color: var(--bg-color);
    padding: 10px 0px;
    /* color: rgb(46, 41, 41); */
    /* color: rgb(255, 255, 255); */
    font-weight: 900;
}
.header-mobile{
    display: none;
}


.form-control input, select, .btn{
   
    outline: dotted 2px orange;
    border: none;
    /* font-size: 20px; */
    background-color: rgb(243, 241, 241);
    padding: 2px 5px;
    width: 90%;
    
}

.radios{
    margin: 1rem 0;
    border: 2px dotted orange;
    width: 95%;
    /* width: calc(90% - 4px); */
    padding: 2px 5px;
}
.radios input[type="radio"]{
    outline: none;
    display: inline;
    accent-color: orange ;
}

.radios div label{
    display: inline;
}



label{
    display: block;
}

.form-control-flex{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
    /* gap: 1rem; */
}

.form-control{
    width: 100%;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
   
    
}
.btn{
    border-radius: 3px;
    border: none;
    /* outline: 2px solid; */
    background-color: orange;
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
    font-weight: bolder;
    
    width: calc(100% - 10px);
    /* width: 100%; */
}
#reset{
    background-color: orangered;
}

#reset:hover{
    background-color: rgb(143, 46, 10);
}

.btn:hover{
    cursor: pointer;
    /* background-color: rgb(198, 142, 36); */
    background-color: rgb(179, 120, 10);
}



table thead{
    text-align: center;
    font-weight: bolder;
    font-size: 1.1rem;
   
}
table td, th{
    padding: 5px 10px;
}

table{

    font-size: 0.9rem;
    border-collapse: collapse;
   
}
.root{
    /* background-color: rgb(251, 246, 239); */
    font-weight: bold;
    /* color: rgb(44, 43, 43); */
    color: var(--label-bg);
}
.errorlist{
    color: red;
    font-weight: bold;
}
.error-outline{
    color: red;
    outline: dotted 2px red;
}
.messages{
    background-color: rgb(243, 241, 241);
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    max-width:400px;
    margin: auto;
    margin-bottom: 1.3rem;
    font-size: 0.9rem;
    /* text-align: center; */
}

/* ERRRR */
.err-img{
    text-align: center;
    width: 100%;
    /* background-image: linear-gradient(rgb(250, 235, 215), rgba(250, 235, 215, 0.7)), url(../images/piffle-error.gif); */
    /* background-repeat: no-repeat; */

}

.err-img img{
    
    opacity: 0.1;
}
.msg-mobile{
    margin-bottom: 1rem;
    display: none;
}





.about{
    background-color: antiquewhite;
    color: rgb(41, 37, 37); 
    text-align: center; 
    
    padding: 5px; 
    border-radius: 5px;
    /* width: calc(100% - 10px); */
    font-size: 1rem;
    /* text-align: justify; */
}


/* MEDIA QUERIES */
@media screen and (max-width:400px) {

    footer{
        text-align: center;
        display: block;
    }
    footer p, footer .social-icons{
        margin-right: auto;
        margin-left: auto;

    }

    footer .social-icons{
        margin-top: 3px;
        /* margin-right: auto; */
        display: flex;
        justify-content: center;
        gap: 15px;
       

    }
}



@media all and (max-width: 767px)  {
   body{
    background-color: var(--bg-color);
   }
    .header-mobile{
        display: inline-block;
    }
    .header{
        display: none;
    }
    .container{
        /* flex-direction: column; */
        /* display: none; */
        width: 100%;
        margin: 0px;


    }
    .inputs{
        width: 100%;  
        background-color: var(--bg-color);
        
    }
    .form-control input, select, .btn{
        width: calc(100% - 10px);
    }

    .form-control input{
        color: black;
        font-weight: bold;
    }
  
    .results{
        display: none;
    }
    .results-mobile{
        display: block;
        max-width: 95%;
    }
    .result-heading{
        display: none;
    }

   

    .form-control-flex{
        display: block;
    }
    .form-control-flex .form-control{
        margin-bottom: 1em;
    }
    .radios{
        width: calc(100% - 10px);
    }

   /* input, select, .btn{
    min-height: 2.5rem;
    margin-bottom: 2rem;
   } */
    .container{
        display: inline-block;
    }

    .about{
        max-width: 90%;
        /* background-color: var(--label-bg); */
        /* color: var(--text-color1); */
    }
    .msg-mobile{
        display: block;
    }
    .msg{
        display: none;
    }

   
    .btn{
        width: 100%;
    }
    
    .about{
      min-width: calc(100% - 10px);
    }
}


@media screen and (max-width:884px)  and (min-width:768px){
    .header{
        font-size: 1.5rem;
    }
    .form-control-flex{
        display: block;
        
    }
    .form-control input{
        width: 95%;
    }
    .form-control-flex .form-control{
        margin-bottom: 1em;
  

    }
}
