<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'uni/images/mathedu-logo.png' %}" type="image/x-icon">
    <meta property="og:type"          content="website" />
    <meta property="og:title" content="ATE Math Hub">
    <meta property="og:description" content="Efficiently solve Math problems with ease.">
    <meta property="og:image" content="http://mathedu.pythonanywhere.com/uni/static/images/mathedu-logo.png">
    

    
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="" >
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin=""> -->
    <link rel="stylesheet" href="{% static 'uni/css/style.css' %}">
</head>
<body>
<main class="main">
    <header style="position: sticky; top: 0px; width: 100%">
        <a class="" href="{% url 'index' %}" style="color:#FC6D6D; text-align: left;" ><h2 style="margin-left: 1em;">MathEdu <span style="color: white;">&plusmn;</span>  </h2></a>
        <h3 class="headehr" style="color: orange; margin-bottom: 1em; margin-top: 1em;">Algebraic and Transcendental Equations</h3>
        
    </header>
    
    {% block content %}

    {% endblock content %}

    <!-- Footer  -->
    <footer >

        <p>
            Made with <i class="ri-heart-3-fill"></i>
             by Johnpaul &copy; 2024 - <span style=" background-color: green; font-weight: bold;">3MTT</span> showcase</a>
             </p>
        <div class="social-icons" style="display: none;">
            <a href="https://twitter.com/iam_johnpauljp" target="_blank"><i class="ri-twitter-x-fill"></i></a>
            <a href="https://web.facebook.com/people/Johnpaul-Chigozie-Gabriel/pfbid02ZY5LPL4wSou6dxJXKkcq9s3A4QFp4pSyPvSWbd2pJ34XUfRJtmKzrmPogig3Rvfzl/" target="_blank"><i class="ri-facebook-fill"></i></a>
            <a href="https://github.com/johnpauljpc/" target="_blank"><i class="ri-github-fill"></i></a>
         </div>
    
             
            </footer>
           
</main>

<script src="{% static 'uni/js/scripts.js' %}"></script>
</body>
</html>
